{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_title %} - Your cart{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block content %}

  <header class="container col-md-8 offset-md-2 py-3">
    <h1 class="title">Your Cart</h1>
  </header>

  <main class="container py-3">
    {% if cart_products %}
      <div class="row">

        {% for product in cart_products %}

          <article class="py-2 col-12">
            <div class="row">
              <section class="col-6 col-md-4 offset-md-2">
                <a href="{% url 'product_details' product.product.id %}">
                  <img class="cart-img" src="{{ product.product.image.url }}" alt="{{ product.product.name }}"
                       width="140">
                </a>
              </section>

              <section class="col-6 col-md-4 d-flex flex-column justify-content-between">
                <h5><a
                    href="{% url 'product_details' product.product.id %}">{{ product.product.name|capfirst|truncatechars:20 }}</a>
                </h5>

                <form class="product-form" method="POST" action="{% url 'update_cart' product.product.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="input-group border border-light">

                      <a class="btn btn-sm btn-dark rounded-0 border-0 input-group-text decrement-qty-btn"
                         data-item_id="{{ item.item_id }}" id="decrement-{{ item.item_id }}"
                         href="{% url 'decrement_cart_product' product.product.id %}">
                        <span>
                            <i class="fas fa-minus fa-sm"></i>
                        </span>
                      </a>

                      <input type="number" class="form-control rounded-0  border-0" name="quantity" min="1" max="99"
                             id="{{ product.product.id }}-cart-qty" value="{{ product.quantity }}"
                             href="{% url 'increment_cart_product' product.product.id %}">

                      <a class="btn btn-sm btn-dark rounded-0 border-0 input-group-text increment-qty-btn"
                         data-item_id="{{ item.item_id }}" id="increment-{{ item.item_id }}"
                         href="{% url 'increment_cart_product' product.product.id %}">
                        <span>
                            <i class="fas fa-plus fa-sm"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                  <button class="btn btn-dark btn-sm rounded-0 text-white"
                          href="{% url 'update_cart' product.product.id %}">Update
                  </button>
                  <a class="btn btn-danger btn-sm rounded-0 text-white"
                     href="{% url 'remove_from_cart' product.product.id %}">Remove</a>
                </form>

                <div class="d-inline-flex justify-content-between align-items-end">
                  <span>Product{{ product.quantity|pluralize }} price :</span>
                  <div class="text-right">
                    {% if product.quantity > 1 %}
                      <div class="text-muted small">{{ product.quantity }} x {{ product.product.base_price }} €</div>
                    {% endif %}
                    <div>{{ product.product.base_price | multiply:product.quantity }} €</div>
                  </div>
                </div>

              </section>
            </div>
          </article>

          {% if forloop.revcounter0 > 0 %}
            <hr class="divider">{% endif %}

        {% endfor %}
      </div>

      {% comment %}wrap divider in row to keep consistent width accross all sections{% endcomment %}
      <div class="row">
        <hr class="divider">
      </div>

      <div class="row">
        <p class="col-md-8 offset-md-2 d-flex justify-content-between">
          <span>{{ cart_count }} Product{{ cart_count|pluralize }} :</span>
          <span>Subtotal: {{ cart_total }} €</span>
        </p>
      </div>

      <div class="row">
        <hr class="divider">
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2">
          <a class="btn btn-dark rounded-0" href="{% url 'store' %}">
            <span>Keep Shopping</span>
          </a>
          <a class="btn btn-dark rounded-0" href="{% url 'checkout' %}">
            <span>To Checkout</span>
          </a>
        </div>
      </div>

    {% else %}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p>You don't have any products in your cart yet.</p>
          <a class="btn btn-dark rounded-0" href="{% url 'store' %}">
            <span>Browse the store</span>
          </a>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
