{% extends 'base.html' %}

{% block page_title %} - Your cart{% endblock %}

{% block content %}

  <header class="container mt-3">
    <h1>Your cart</h1>
  </header>

  <main class="container mb-3">
    {% if cart_products %}
      <ul>
        {% for product in cart_products %}
          <li>
            <p>{{ product.quantity }} x {{ product.product.name|capfirst }}</p>
            <a class="btn btn-dark btn-small rounded-0 text-white" href="{% url 'remove_from_cart' product.product.id %}">Remove</a>
          </li>
        {% endfor %}
      </ul>
      <p>Total: {{ cart_total }} </p>
      <button class="btn btn-small btn-dark rounded-0">
        <a class="text-white" href="{% url 'store' %}">Keep Shopping</a>
      </button>
    {% else %}
      <p>You don't have any products in your cart yet.</p>
      <button class="btn btn-small btn-dark rounded-0">
        <a class="text-white" href="{% url 'store' %}">Browse the store</a>
      </button>
    {% endif %}
  </main>
{% endblock %}
