{% extends "base.html" %}

{% block page_title %} - About Us{% endblock %}

{% block content %}
  <header class="container col-md-8 offset-md-2 my-5">
    <h1 class="border-bottom pb-2 mb-1">About Us</h1>
    <p><strong>We are not just a printing factory !</strong></p>
  </header>

  <main class="container col-md-8 offset-md-2">
    <section class="mb-5">
      <h2 class="border-bottom pb-1">Our Vision</h2>
      <p>Not only focused on delivering <strong>high quality manufactured 3D printing products</strong>, we have expanded
        our partners network with designers, prototyping engineers and 3D enthusiasts to offer a wide range of products.
        Since 2010 we have opened 8 new facilities with cutting-edge technologies on every continents.
      </p>
      <p>
        We have supported and will continue to support our partners in their creations, helping them to achieve their
        goal and in respect or their design standards.
      </p>
      <p>
        We value our customers as much as our partners. We have invested in a highly reactive customer support to
        constantly improve our service quality.
      </p>
    </section>

    <section class="mb-5">
      <h2 class="border-bottom pb-1">Contact Us</h2>
      <p>You want to know more about what and how we operate ? Want to become a partner and join us on this journey ? <a href="#">Contact us</a>.
      </p>
    </section>
  </main>
{% endblock %}
