{% extends 'base.html' %}

{% block page_title %} - My Profile{% endblock %}

{% block content %}
  <header class="container mt-3">
    <h1 class="title">My Profile</h1>
  </header>
  <main class="container mb-3">

    <section class="py-2">
      <h2>Account details</h2>
      <div class="row">
        <div class="col-12"><small>First Name :</small></div>
        <div class="col-12">{{ user_profile.user.first_name }}</div>
      </div>
      <div class="row">
        <div class="col-12"><small>Last Name :</small></div>
        <div class="col-12">{{ user_profile.user.last_name }}</div>
      </div>
      <div class="row">
        <div class="col-12"><small>Username :</small></div>
        <div class="col-12">{{ user_profile.user.username }}</div>
      </div>
      <div class="row">
        <div class="col-12"><small>Email :</small></div>
        <div class="col-12">{{ user_profile.user.email }}</div>
      </div>

      <div class="my-3">
        <button class="btn btn-dark rounded-0 mx-2">Edit</button>
      </div>

      <div class="ml-2">
        <small>Need to
          <a class="mt-2" href="{% url 'profile_password_change' %}">change password ?</a>
        </small>
      </div>
    </section>

    <hr class="divider">

    <section class="py-2">
      <h2>Address Details</h2>
      <div class="row">
        <div class="col-12 col-md-6"><small>Phone number :</small></div>
        <div class="col-12">{{ user_profile.profile_phone_number|default:'Not provided' }}</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6"><small>Stree address :</small></div>
        <div class="col-12">{{ user_profile.profile_street_address1|default:'Not provided' }}</div>
      </div>
      {% if user_profile.profile_street_address2 %}
        <div class="row">
          <div class="col-12"><small>Street address complement :</small></div>
          <div class="col-12">{{ user_profile.profile_street_address2|default:'Not provided' }}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-12"><small>Postcode :</small></div>
        <div class="col-12">{{ user_profile.profile_postcode|default:'Not provided' }}</div>
      </div>
      <div class="row">
        <div class="col-12"><small>Town / City :</small></div>
        <div class="col-12">{{ user_profile.profile_town_or_citye|default:'Not provided' }}</div>
      </div>
      <div class="row">
        <div class="col-12"><small>Country :</small></div>
        <div class="col-12">{{ user_profile.profile_country|default:'Not provided' }}</div>
      </div>
    </section>

    <hr class="divider">

    <section class="py-2">
      <h2>Preferences</h2>
    </section>
  </main>
{% endblock %}
