{% extends 'base.html' %}
{% load static %}

{% block page_title %} - {{ product.name }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'store/css/store.css' %}">
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <article class="row">

      <section class="col-12 py-3 col-md-5 order-md-2">
        <h3>{{ product.name|capfirst }}</h3>
        <p><small class="text-muted">version : {{ product.date_version }}</small></p>
        <p class="mb-0">${{ product.base_price }}</p>

        <div class="my-3">
          <form class="product-form" method="POST" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-6 col-md-8">
                <div class="input-group border border-light">

                  <span id="decrement-qty" class="btn btn-sm btn-dark rounded-0 border-0 input-group-text"
                    data-toggle="tooltip" title="">
                    <i class="fas fa-minus fa-sm"></i>
                  </span>

                  <input class="form-control rounded-0 border-0" type="number" name="quantity" value="1" min="1"
                         max="99" data-item_id="{{ product.id }}" id="product-qty">

                  <span id="increment-qty" class="btn btn-sm btn-dark rounded-0 border-0 input-group-text"
                        data-toggle="tooltip" title="">
                    <i class="fas fa-plus fa-sm"></i>
                  </span>

                </div>
              </div>
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <button type="submit" class="btn btn-dark btn-small rounded-0 text-capitalize">Add to cart</button>
          </form>
        </div>
        <hr class="divider my-3 d-none d-md-block">
        <section class="d-none d-md-block">
          <p>{{ product.description|capfirst }}</p>
        </section>
      </section>

      <hr class="divider d-md-none">

      <section class="col-12 col-md-7 py-3">
        {% if product.printing_file %}
          <model-viewer src="{{ product.printing_file.file.url }}" alt="3D model of {{ product.name }}" auto-rotate
                        camera-controls shadow-intensity="1" shadow-softness="1" poster="{{ product.image.url }}"
                        style="width: 100%; min-height: 350px; height: 50vh">
          </model-viewer>
        {% else %}
          <img class="product-img" src="{{ product.image.url }}" alt="{{ product.name }}" width="140">
        {% endif %}
      </section>

      <hr class="divider d-md-none">

      <section class="col-12 py-3 d-md-none">
        <p>{{ product.description|capfirst }}</p>
      </section>

    </article>
  </div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  <script src="{% static 'store/js/store.js' %}"></script>
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
{% endblock %}
