/*
        ___ STORE ___
*/

#sort-selector {
  border: black 1px solid;

}

//      ___ Product Card ___
.store-card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

//      ___ Product Details ___
.product-img {
  max-height: 350px;
  object-fit: contain;
  width: 100%;
}

/*
        ---___ MEDIA RULES ___---
*/
@media (min-width: 1200px) {
  .store-card-img {
    height: 220px;
  }

  .product-img {
    max-height: 450px;
  }
}
