<nav id="main-navbar" class="navbar navbar-light fixed-top">
  <div class="container">
    <span class="navbar-toggler-icon slide-in-btn"></span>
    <span class="navbar-brand title pl-3"><a href="{% url 'home' %}">Shapers</a></span>

    <ul class="navbar-nav ml-auto d-flex flex-row">
      <li class="nav-item mx-2">
        <a href="{% url 'get_cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item ml-2 dropdown">
        <a id="signinDropDownLink" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
          {% if request.user.is_authenticated %}My Account
          {% else %}Account
          {% endif %}
        </a>
        <div id="signin-dropdown" class="dropdown-menu rounded-0" aria-labelledby="signinDropDownLink">
          {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a>
            <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>