<footer id="main-footer">
  <div class="container">

    <div class="row">
      <!-- Contact & Support -->
      <div class="col-4 offset-2 offset-md-2">
        <ul>
          <li><a href="{% url 'about_us' %}">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <!-- Legal Info -->
      <div class="col-6 col-sm-5 offset-sm-1 col-md-4 offset-md-2">
        <ul>
          <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
          <li><a href="{% url 'terms_use' %}">Terms Of Use</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <ul class="col copyright">
        <li>&copy; Shapers, All Rights Reserved</li>
      </ul>
    </div>
  </div>
</footer>
