html, body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  height: 100%;
}

.main-wrapper {
  min-height: calc(100% - 147px); // minus footer 146.8
  padding-top: 80px; // navbar height 80.5
}

.title {
  font-family: 'Oswald', sans-serif;
}

.divider {
  border-bottom: 1px $mid-gray;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*
        ___ MESSAGES & FEEDBACK ___
*/
.message-container {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 960;
}

@each $level, $color in $status-classes {
  .toast-border-#{$level} {
    border-left: solid 3px #{$color};
  }
  .text-#{$level} {
    color: #{$color};
  }
}

/*
        ___ MODALS ___
*/
.modal-dialog {
  top: calc(50% - 150px);
}

.modal .modal-content {
  border-radius: 0;
  border: none;
}

/*
        ___ STORE ___
*/
//      ___ Product Card ___
.store-card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

//      ___ Product Details ___
.product-img {
  max-height: 350px;
  object-fit: contain;
  width: 100%;
}

/*
        ---___ MEDIA RULES ___---
*/
@media (min-width: 1200px) {
  .store-card-img {
    height: 220px;
  }

  .product-img {
    max-height: 450px;
  }
}