@font-face {
  font-family: 'lato';
  src: local('Lato'),
       url('/static/fonts/Lato/Lato-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'oswald';
  src: local('Oswald'),
       url('/static/fonts/Oswald/static/Oswald-Regular.ttf') format("truetype");
}