/*
        ___ MAIN NAVBAR ___
*/
#main-navbar {
  z-index: 999;
  background-color: $bright-gray;
}

/*
        ___ MAIN FOOTER ___
*/
#main-footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: $bright-gray;
}

.copyright {
  text-align: center;
  font-size: .8rem;
}

/*
        ___ MAIN FOOTER ___
*/
.side-nav {
  position: fixed;
  bottom: 0;
  left: -250px;
  top: 49px; // navbar height 49.01
  width: 250px;
  z-index: 995;
  overflow-x: hidden;
  background-color: #f5f5f5;
  transition: all 0.3s ease-in-out;

  ul {
    margin-bottom: 0;
    padding: 0;
  }

  li {
    padding: 16px 10px 16px 20px;
  }
}

.slide-menu-in {
  transform: translateX(250px);
}

#sidenav-backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 990;
  width: 100%;
}

.slide-in-btn,
.slide-out-btn {
  cursor: pointer;
}

.slide-out-btn {
  font-size: 1.5rem;
  padding-right: 1em;
  text-align: right;
}